@import "./palette";
@import "./fonts";
html {
  height: 100%;
}
body {
  font-family: 'Droid Sans', sans-serif;
  height: 100%;
  margin: 0;
  background-color: $color3;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr 50px;
}
